* {
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDF2EC;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5;
    color: #E06733;
}

hr {
    width: 100%;
    height: 0.05rem;
    background-color: #717171;
    margin: 0;
}

.wrapper {
    max-width: 50%;
    margin: 0 auto;
}


.meme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme__lable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.meme__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ico {
   width: 3%;
   height: 100%;
   opacity: 0;
   font-size: 1.2em;
   transition: 0.5s;   
}

.bayan_target {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 1%;
    width: 0%;
    transition: 0.5s;
}

img {
    width: 95%;
}

.tab:checked ~ .meme__lable {
    color: rgb(0, 153, 255);
}

.meme__lable:hover .bayan_target {
    width: 80%;
    transition: 0.5s;
}

.meme__lable:hover .ico {
    transform: rotate(45deg);
    transition: 0.5s;
}


.memes:hover .ico {
    opacity: 100;
    transition: 0.5s;
}

.tab:checked + .meme__lable .bayan_target {
    width: 80%;
    transition: 0.5s;
}

.tab:checked + .meme__lable .ico {
    transform: rotate(45deg);
    transition: 0.5s;
}
